:root{
    --brand: #0b5ed7; /* azul corporativo */
    --brand-dark: #084bb5;
}

body{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.navbar.bg-primary{
    background-color: var(--brand) !important;
}

.btn-primary{
    background-color: var(--brand);
    border-color: var(--brand);
}
.btn-primary:hover{
    background-color: var(--brand-dark);
    border-color: var(--brand-dark);
}

.card-img-top{
    object-fit: cover;
    height: 220px;
}

.badge-status{
    padding: .5em .75em;
    font-size: .9em;
}

/* Responsive tweaks */
@media (max-width: 576px){
    .card-img-top{ height: 160px; }
}
